:root{
    --primary-bg: linear-gradient( #ffffff, #ffdddd);
    --primary-button: #8c2f39;
}
@font-face {
  font-family: inter;
  src: url('./fonts/Inter.ttf');
}
*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: inter;
}
section{
    background-image: var(--primary-bg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    overflow-y: scroll;
}
nav{
    position: sticky;
    top: 0;
    background-color: white;
}
nav li{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px 20px 10px;
}
nav img{
    height: 20px;
}
main{
    display: grid;
    justify-content: center;
    max-width: 100vw;
}
.subhosha{
    height: 200px;
    width: 300px;
    object-fit: cover;
    margin: 24px 0px 20px 0px;
    border-radius: 20px;
}
li{
    list-style: none;
}
.to-do-box{
    height: 100px;
    width: 100%;
    background-color: var(--primary-button);
    border-radius: 20px;

}
.to-do-box p{
    padding: 24px 0px 12px 20px;
    color: #ffffff;
}
.to-do-box svg:first-child{
    height: 20px;
    fill: #ffffff;
}
.to-do-box svg:nth-child(2){
    height: 20px;
    fill: #cd5858;
}
.clickables{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.to-do-list{
    display: grid;
    margin-top: 12px;
    gap: 4px;
}